<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find robaka)/conf/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robaka)/conf/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robaka)/conf/semantic-segmentation/costmap_params.yaml" command="load" ns="local_costmap" />

    
    <rosparam file="$(find robaka)/conf/navigation/map_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robaka)/conf/navigation/map_nav_params/global_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find robaka)/conf/navigation/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robaka)/conf/navigation/move_base_params.yaml" command="load" />
    <rosparam file="$(find robaka)/conf/navigation/dwa_local_planner_params.yaml" command="load" />
    
    <remap from="odom" to="cartographer_odom" />
  </node>

</launch>
