<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find robaka)/maps/map3.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find robaka)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find robaka)/launch/move_base_main.launch" />

</launch>
