<launch>

  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="ticks_per_meter" value="198" />
  <arg name="wheel_separation" value="0.13" />

  <node pkg="rosserial_arduino" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="57600"/>
  </node>

  <!-- Camera -->
  <node pkg="jetbot_ros" type="jetbot_camera" name="camera" output="screen"/>

  <!-- Lidar. Source: git clone https://github.com/EAIBOT/ydlidar -->
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ydlidar"/>  
    <param name="baudrate"     type="int"    value="128000"/>
    <param name="frame_id"     type="string" value="lidar"/>
    <param name="low_exposure"  type="bool"   value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="samp_rate"    type="int"    value="9"/>
    <param name="frequency"    type="double" value="7"/>
  </node>

  <!-- IMU filter -->
  <include file="$(find robaka)/launch/include/imu.launch" />

  <!-- Localization -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <remap from="odometry/filtered" to="odom" />
    <rosparam command="load" file="$(find robaka)/conf/robot_localization.yaml" />
  </node>


  <!-- Attempts to make it work over ESP8266
  <node pkg="rosserial_python" type="serial_node.py" name="socket_node" output="screen">
    <param name="port" value="tcp"/>
  </node>
  -->

  <!-- Robot configuration -->
  <node pkg="tf" type="static_transform_publisher" name="middle_sonar_tf_broadcaster" args="0.12 0 0 0 0 0 base_link sonarmiddle 100" />
  <node pkg="tf" type="static_transform_publisher" name="left_sonar_tf_broadcaster" args="0.12 0.06 0 0.785 0 0 base_link sonarleft 100" />
  <node pkg="tf" type="static_transform_publisher" name="right_sonar_tf_broadcaster" args="0.12 -0.06 0 -0.785 0 0 base_link sonarright 100" />
  <node pkg="tf" type="static_transform_publisher" name="imu_tf_broadcaster" args="-0.18 0.0 0.00 0 0 0 base_link imu 40" />
  <node pkg="tf" type="static_transform_publisher" name="laser_tf_broadcaster" args="-0.03 -0.07 0.11 0 0 0 base_link lidar 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_tf_broadcaster" args="0 0 -0.02 0 0 0 base_link base_footprint 100" />

</launch>
